@font-face {
    font-family: 'Nordica';
    src: url('fonts/NordicaThin.woff2') format('woff2'),
        url('fonts/NordicaThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Nordica';
    src: url('fonts/NordicaHairline.woff2') format('woff2'),
        url('fonts/NordicaHairline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nordica';
    src: url('fonts/NordicaBlack.woff2') format('woff2'),
        url('fonts/NordicaBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nordica';
    src: url('fonts/NordicaRegular.woff2') format('woff2'),
        url('fonts/NordicaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
